<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <main>
        <div>
            <h1>{{detail_lists.name}}</h1>
            <p><a href="{%url 'todo_list_update' detail_lists.id %}">Edit</a></p>
            <p><a href="{%url 'todo_list_delete' detail_lists.id %}">delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <td>Task</td>
                        <td>Due date</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in detail_lists.items.all %}
                    <tr>
                        <td><a href="{url 'todo_item_update' item.id}">{{item.task}}</a></td>
                        <td>{{item.due_date|date:"M d, Y"}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
